body{
    background-color: #252833;
    color: rgb(83, 86, 83);
}

p{
    font-size: 48px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform:uppercase;
    
}

a{
    text-decoration: none;
    color: yellow;
    font-family:'Courier New', Courier, monospace;
    
}